* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
}

header {
  width: 100%;
  height: 30px;
  display: inline;
  justify-content: space-around;
  align-items: center;
}

/* .head {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
} */

.navbar {
  height: 60px;
  background-color: black;
}

li,
a {
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  color: white;
  margin-top: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

#search-bar {
  background-color: black;
  margin-left: 19px;
  margin-right: 18px;

  padding-left: 10px;
  padding-top: 10px;
  margin-top: 5px;
  /* margin-bottom: 5px; */

  width: 370px;
  height: 100%;

  border-radius: 10px;
}

.logo {
  padding-top: 5px;
  height: 33px;
  width: 66;
}

.stack {
  margin-right: 20px;
}

/* section {
  margin-top: 50px;
} */

.main-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.border {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 10px;
  border: 1px solid grey;
}

.books {
  margin-right: 80px;
  align-items: stretch;
}

.fa-twitter {
  margin-right: 0;
  /* background: #55acee;
  color: white; */
  background: white;
  color: grey;
}

.fa-twitter:hover {
  color: #55acee;
}

.material-icons {
  /* margin-top: 6px; */
  /* margin-right: 6px; */
  color: gray;
  size: 20px;
}
/* .search-bar-content {
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
} */

.one {
  /* margin-top: 10px;
  margin-bottom: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.img1 {
  border-radius: 50px;
  margin-right: 10px;
}

/* .desc-1 {
  margin-top: 5px;
} */

.hrs {
  color: gray;
}

.pro {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  margin-bottom: 25px;
}

.pro-tip {
  color: grey;
}

.pro-tip-p {
  color: blue;
  font-weight: 550;
}

.sv {
  margin-right: -80px;
}

.svgs:hover {
  color: #55acee;
}

.svgs {
  color: red;
}

/* section 1 of books and twitter icon */

.imgs {
  display: flex;
  margin-bottom: 20px;
  margin-left: 17px;
}

.imgs-1 {
  border-radius: 30px;
}

.ans {
  color: gray;
  margin-left: 9px;
}

.sec-three {
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  width: 100%;
}

#se {
  /* margin-top: 10px; */
  width: 100%;
  padding: 9px;
}

.icons {
  /* display: inline; */
  display: flex;
  justify-content: space-between;
  width: 5.5%;
  color: grey;
  margin-right: 10px;
}
.fa fa-link {
  margin-right: 10%;
}
#twitter:hover {
  color: lightblue;
  cursor: pointer;
}

#link:hover {
  color: red;
  cursor: pointer;
}

.sec-one {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: center; */
  border: 1px solid rgb(94, 88, 88);
  width: 57%;
  margin-left: 20px;
  height: 190px;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.ones {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.main-section {
  margin-top: 30px;

  display: flex;
  justify-content: space-evenly;
  /* margin-left: 4;
  margin-right: 80px; */
}

.desc-1 {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}

.sec01 {
  display: flex;
  flex-direction: column;
}

.ssss {
  display: block;
  width: 50%;
}

.mini {
  display: block;
  max-width: 100%;
}

.main-2 {
  margin-top: -13%;

  margin-left: 6.3%;
  width: 57.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #fdf2a8;
  padding: 30px;
}

.circ-cont {
  float: right;
}

.circ {
  /* display: flex;
  justify-content: space-evenly;
  width: 73%; */
}

.icons2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 0;
  width: 100%;
}

.imgs2 {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin-top: 20px;
  margin-left: 11%;
}
#heart:hover {
  color: red;
  cursor: pointer;
}

#comment:hover {
  color: rgb(97, 10, 10);
  cursor: pointer;
}

#comment {
  margin-left: 10px;
}

.com-4 {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 500;
}

#imgs-1 {
  margin-left: 10px;
}

.circ-cont {
  display: inline;
}

.fl-img {
  float: left;
  border-radius: 30px;
  height: 50px;
  width: 60px;
}

.cc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 18.5px;
  width: 87%;
}

/* #sqr-img2 {
  margin: auto;
  height: 120px;
  width: 120px;
} */

.main-3 {
  margin-left: 6.3%;
  width: 57.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #fce7c4;
  padding: 30px;
}

.main-3-1 {
  margin-left: 6.3%;
  width: 57.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #8b9cbb;
  padding: 30px;
}

.main-3-2 {
  margin-top: 20px;
  margin-left: 6.3%;
  width: 57.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #bfc6fd;
  padding: 30px;
}

.main-3-3 {
  margin-top: 20px;
  margin-left: 6.3%;
  width: 57.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #fce7c4;
  padding: 30px;
}

.icons2-2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 30px;
  margin-left: 0;
  width: 100%;
}

.icons2-1 {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 30px;
  margin-left: 0;
  width: 100%;
}

#sqr-img2-1 {
  height: 90px;
  width: 120px;
}

.list {
  display: inline;
  width: 10%;
  text-align: left;
  align-items: center;
  flex-direction: row;
}

.terms {
  font-size: 12px;
  text-decoration: none;
  list-style: none;
  color: lightgray;
  margin-top: 10px;
  float: left;
  margin-left: 6px;
}
